@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Dashboard</h1>

<p>Welcome to the administrative panel. Here, you can manage services, reservations, and view logs of recent actions.</p>

<div>
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Logs">View Logs</a>

</div>
