﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Cookies Policy";
}

    <link rel="stylesheet" href="/css/footerBar.css" />


<div class="container my-5">
    <h1 class="text-center mb-4">Cookies Policy</h1>
    <p class="text-center">
        We use cookies to enhance your experience on our website. By continuing to use our site, you agree to our use of cookies.
    </p>
    <div class="row mt-4">
        <div class="col-md-6">
            <div style="background-image: url('/images/CookiesPolicy.jpg'); height: 300px; background-size: cover; background-position: center;" class="rounded">
            </div>

        </div>
        <div class="col-md-6">
            <h4>What are Cookies?</h4>
            <p>
                Cookies are small pieces of data that websites store on your browser to improve functionality and personalize content. They help us analyze how you interact with our site.
            </p>
            <h4>How We Use Cookies?</h4>
            <ul>
                <li>To improve site performance</li>
                <li>To personalize your experience</li>
                <li>To collect analytics data</li>
            </ul>
        </div>
    </div>
</div>
